.select_accueil{
  width: auto;
  height: 50px;
  border-radius: 15px;
  background-color: #CDA57D;
  padding-top: 3%;
  display: block;
  align-content: center;
  color: #1c1c1c;
}

body{
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  font-family:"PT Sans Caption";
}

section{
  padding:50px;
}